@import "reset.css";
@import "normalize.css";

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-family: "Saira", sans-serif;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: var(--text);
    background: var(--background);

    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

.usWelcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
}

.usCopyright {
    margin-top: 1em;
    font-size: 12px;
}
